src/node_modules
src/public/hot
src/vendor
src/.env
src/.env.backup
src/.phpunit.result.cache
src/phpcs.xml
src/src/Homestead.json
src/Homestead.yaml
npm-debug.log
yarn-error.log
src//uploads
src//storage/app/uploads
src/modules_statuses.json
src/docker-compose.override.yml
src/.idea
src/.vscode
/nbproject/private/
supervisord.log
supervisord.pid
src.bak